<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5">
                <table class="table is-fullwidth is-striped is-hoverable is-bordered scroll-table">
                    <thead>
                        <tr>
                            <th>
                                <p>Course Name</p>
                            </th>
                            <th>
                                <p>Price (Rs.)</p>
                            </th>
                            <th>
                                <p>Duration Year(s)</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of courses" [class.is-selected]="course.name === selectedCourse?.name"
                            (click)="showCourse(course.id)">
                            <td>
                                <p>{{course.name}}</p>
                                <small class="is-size-7">{{course.description}}</small>
                            </td>
                            <td>
                                <p><b>{{course.price}}</b></p>
                            </td>
                            <td>
                                <p class="has-text-centered">{{course.duration}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column" *ngIf="selectedCourse">
                <div class="notification is-success" *ngIf="isAlreadySubscribed">
                    You are already subscribed to a course. Create a new account for another subscription or go to the
                    <a routerLink="/dashboard">Dashboard</a>
                </div>
                <div class="card animation-in">
                    <div class="card-content">
                        <h2 class="title is-2 has-text-centered">{{selectedCourse.name}}</h2>
                        <div class="content">
                            <p class="has-text-centered">{{selectedCourse.description}}</p>
                            <p class="title is-1 has-text-centered">{{selectedCourse.price | currency:'INR'}}</p>
                            <div class="buttons is-centered">
                                <a *ngIf="!isAlreadySubscribed" (click)="openCheckoutPage(selectedCourse.id)"
                                    class="button is-primary is-outlined"><b>Subscribe</b></a>
                                <a class="button is-info is-outlined">Show Subjects</a>
                                <a (click)="closeCard()" class="button"><b>Close</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>