<section class="hero is-primary orders-heading">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Orders
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <div class="columns">
        <div class="column table-container">
            <table class="table is-fullwidth is-striped scroll-table" *ngIf="orders">
                <thead>
                    <tr>
                        <th class="has-text-centered">Order ID</th>
                        <th class="has-text-centered">Course Name</th>
                        <th class="has-text-centered">Currency</th>
                        <th class="has-text-centered">Order Amount</th>
                        <th class="has-text-centered">Status</th>
                        <th class="has-text-centered">Pay</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders">
                        <td class="has-text-centered">{{order.id}}</td>
                        <td class="has-text-centered">
                            <p class="has-text-centered">{{order.course.name}}</p>
                        </td>
                        <td class="has-text-cenered">
                            <p class="has-text-centered">
                                {{order.currency}}
                            </p>
                        </td>
                        <td class="has-text-centered">{{order.amount / 100 | currency:'INR' }}</td>
                        <td class="has-text-centered">
                            <p *ngIf="order.status !== 'paid'">
                                <span class="tag is-danger">DUE</span>
                            </p>
                            <p *ngIf="order.status === 'paid'">
                                <span class="tag is-success">{{order.status | uppercase}}</span>
                            </p>
                        </td>
                        <td class="has-text-centered">
                            <a *ngIf="order.status !== 'paid' && !hasActiveSubs" (click)="loadRazorpay(order)">
                                <span class="tag is-warning"><b>Pay Now</b></span>
                            </a>
                            <p *ngIf="hasActiveSubs"> <span class="tag is-info">SUB EXISTS</span> </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>