<div class="container checkout-container">
    <div class="columns">
        <div class="column is-8">
            <div class="box">
                <h3 class="title is-3 has-text-weight-bold">Combo Class 10 WB</h3>
                <p class="has-text-justified has-text-weight-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias facere labore dignissimos repudiandae
                    corrupti, aut ut, id cumque esse, vel minus molestias! Delectus totam tempore, facilis aliquam
                    exercitationem atque velit.
                </p>
                <hr>
                <br>
                <h4 class="title is-4 has-text-weight-semibold">Subjects</h4>
                <ul class="block-list is-small">
                    <li class="is-outlined is-dark">Bengali</li>
                    <li class="is-outlined is-dark">English</li>
                    <li class="is-outlined is-dark">Mathematics</li>
                    <li class="is-outlined is-dark">Physical Science</li>
                    <li class="is-outlined is-dark">Life Science</li>
                    <li class="is-outlined is-dark">History</li>
                    <li class="is-outlined is-dark">Geography</li>
                </ul>
            </div>
        </div>
        <div class="column is-4">
            <div class="box">
                <h4 class="title is-4 has-text-weight-bold">Summery</h4>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>Product</th>
                        <th>
                            <p class="has-text-right">Price</p>
                        </th>
                    </tr>
                    <tr>
                        <td>Combo Class 10 WB</td>
                        <td>
                            <p class="has-text-right"><strong>{{500 | currency:'INR'}}</strong></p>
                        </td>
                    </tr>
                </table>
                <hr>
                <p><b>Subscription for 1 Year</b></p>
                <br>
                <p><b>Customer Name : </b> Aurghyadip Kundu</p>
                <p><b>Mobile Number : </b> 7044475070</p>
                <p><b>Billing Address : </b></p>
                <p>
                    Flat -6, P-38, Nivedita Park, Kolkata - 700096,
                    West Bengal
                </p>
                <hr>
                <br>
                <button class="button is-fullwidth is-info is-outlined is-rounded has-text-weight-bold">
                    Checkout
                </button>
            </div>
        </div>
    </div>
</div>