<div class="container checkout-container">
    <div class="columns">
        <div class="column is-8 is-hidden-mobile">
            <div class="box">
                <h3 class="title is-3 has-text-weight-bold">{{course?.name}}</h3>
                <h5 class="subtile is-5 has-text-weight-semibold">For {{course?.class.name}}</h5>
                <br>
                <p class="has-text-justified has-text-weight-light">
                    {{course?.description}}
                </p>
                <hr>
                <h4 class="title is-4 has-text-weight-semibold">Subjects</h4>
                <ul class="block-list is-small">
                    <li class="is-outlined is-dark" *ngFor="let subject of course?.subjects">
                        {{subject.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="column is-4">
            <div class="box">
                <h4 class="title is-4 has-text-weight-bold">Summery</h4>
                <table class="table is-fullwidth is-bordered">
                    <tr>
                        <th>Product</th>
                        <th>
                            <p class="has-text-right">Price</p>
                        </th>
                    </tr>
                    <tr>
                        <td>{{course?.name}}</td>
                        <td>
                            <p class="has-text-right"><strong>{{course?.price | currency:'INR'}}</strong></p>
                        </td>
                    </tr>
                </table>
                <hr>
                <p><b>Subscription for {{course?.duration}} Year</b></p>
                <br>
                <p><b>Customer Name : </b> {{user?.user_detail.firstname}} {{user?.user_detail.lastname}}</p>
                <p><b>E-mail : </b> {{user?.email}}</p>
                <p><b>Mobile Number : </b> {{user?.user_detail.mobile_number}}</p>
                <p><b>Billing Address : </b></p>
                <p>
                    {{user?.user_detail.address}}
                </p>
                <hr>
                <br>
                <button [disabled]="isAlreadyPaid" (click)="createOrder(course?.price, course?.id)"
                    class="button is-fullwidth is-info is-outlined is-rounded has-text-weight-bold">
                    {{isAlreadyPaid ? 'Already Paid' : 'Checkout'}}
                </button>
            </div>
        </div>
    </div>
</div>