<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <h2 class="title is-2">Login</h2>
                    <h3 class="subtitle is-3">to Xtreme Success</h3>
                    <form action="" class="box" [formGroup]="form">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control">
                                <input name="email" [(ngModel)]="email" type="email" placeholder="bobsmith@gmail.com"
                                    class="input" formControlName="email" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control">
                                <input name="password" [(ngModel)]="password" type="password" placeholder="*******"
                                    class="input" formControlName="password" required>
                            </div>
                            <p class="help">
                                Min 6 Characters
                            </p>
                        </div>
                        <div class="field">
                            <button class="button is-success" [disabled]="!form.valid" (click)="login()">
                                Login
                            </button>
                        </div>
                        <p><a routerLink="/auth/forms/register">Don't have an account? Register!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>