<section class="hero is-dark is-medium is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">Welcome to Xtreme Success</h1>
            <h2 class="subtitle">We make dreams come true.</h2>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs">
            <div class="container">
                <ul>
                    <li><a href="#products"><strong>Products</strong></a></li>
                    <li><a href="#courses"><strong>Courses</strong></a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>