<section class="hero is-white-ter is-medium is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="home-title">Welcome to <span class="red-text bold-text">Xtreme</span> Success
            </h1>
            <h2 class="subtitle">We make dreams come true.</h2>
        </div>
    </div>
</section>
<!-- Courses Section -->
<section class="section">
    <div class="container is-fluid has-text-centered">
        <div class="columns level">
            <div class="column has-text-justified level-item content">
                <p class="title is-3 has-text-centered"><span class="red-text">Courses</span> We Offer</p>
                <p>
                    Albert Einstein said <span class="red-text">"Any fool can know. The point is to understand."</span>.
                    Our motto is just that. Not just knowing what you are studying but we make sure that you understand
                    them. We sat down with <span class="red-text">great and experienced</span> teachers to curate a
                    course pattern that is unlike any other and will help you in not just <span class="red-text">getting
                        good marks</span> but to also understand the subjects properly in order to help your future
                    studies.
                </p>
                <br><br>
                <div class="has-text-centered">
                    <button routerLink="/home/courses" class="button is-danger is-outlined is-fullwidth">Check Our
                        Courses</button>
                </div>
            </div>
            <div class="column level-item content">
                <table class="table is-fullwidth is-striped is-bordered scroll-table">
                    <thead>
                        <tr>
                            <th>
                                <p>Course Name</p>
                            </th>
                            <th>
                                <p>Price (Rs.)</p>
                            </th>
                            <th>
                                <p>Duration Year(s)</p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of courses">
                            <td>
                                <p>{{course.name}}</p>
                                <small class="has-text-grey is-size-7">{{course.description}}</small>
                            </td>
                            <td>
                                <p><b>{{course.price}}</b></p>
                            </td>
                            <td>
                                <p class="has-text-centered">{{course.duration}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- Products Section -->
<section id="products" class="section">
    <div class="container is-fluid">
        <div class="columns level">
            <div class="column is-one-third level-item">
                <img src="assets/img/marginalia-productive-work.png" alt="">
            </div>
            <div class="column has-text-justified level-item content">
                <p class="title is-3 has-text-centered">Our <span class="red-text">Products</span></p>
                <p>
                    We also develop products like <span class="red-text"><b>Learning Management Systems, School
                            Management Systems</b></span> etc. If you want to contact us regarding that, check out the
                    below section.
                </p>
                <br><br>
                <div class="has-text-centered">
                    <button routerLink="/home/about" class="button is-danger is-outlined is-fullwidth">Check About Us
                        for Contact
                        Details</button>
                </div>
            </div>
        </div>
    </div>
</section>