<div class="columns">
    <div class="column is-4">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Subjects
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody *ngIf="course">
                            <tr *ngFor="let subject of course.subjects" (click)="getChapters(subject.id, subject.name)"
                                [class.is-selected]="subject.name === selectedSubject">
                                <td>{{subject.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <footer class="card-footer">
                <p class="card-footer-item">Click 'View Chapters' to open detail page</p>
            </footer> -->
        </div>
        <div class="card" *ngIf="chapters">
            <header class="card-header">
                <p class="card-header-title">
                    {{selectedSubject}}
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody>
                            <tr *ngFor="let chapter of chapters" [class.is-selected]="chapter.name === selectedChapter"
                                (click)="showChapterDetails(chapter.name, chapter.id)">
                                <td>{{chapter.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- <footer class="card-footer">
                <p class="card-footer-item">Click 'View Chapters' to open detail page</p>
            </footer> -->
        </div>
    </div>
    <div class="column is-8">
        <div class="card" *ngIf="chapter">
            <header class="card-header has-background-primary">
                <p class="card-header-title is-centered has-text-white">
                    {{chapter.name}} Contents
                </p>
            </header>
            <div class="card-content">
                <div class="content markdown-content">
                    <markdown katex>
                        {{chapter.chapter_details?.text}}
                    </markdown>
                </div>
            </div>
        </div>
    </div>
</div>