<!-- START NAV -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <span class="has-text-danger"><b>Xtreme</b></span>&nbsp;Success
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="/">
                    Home
                </a>
                <a class="navbar-item" routerLink="/home/about">
                    About
                </a>
                <a class="navbar-item" routerLink="/home/courses">
                    Courses
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a (click)="logout()" class="button is-danger is-outlined">
                            <strong>Logout</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu">
                <div class="box is-hidden-mobile">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img class="is-rounded" [src]="url+user.user_detail.img.url" alt="Image"
                                    *ngIf="user?.user_detail.img">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{user?.user_detail.firstname}} {{user?.user_detail.lastname}}</strong><br>
                                    <span class="small-text"><b>{{user?.email}}</b>, </span><span
                                        class="small-text">{{user?.role.name}}</span>
                                    <br>
                                    <span class="small-text">
                                        <b>Member Since :</b>{{user?.created_at | date:'dd/MM/yyyy'}}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a [routerLinkActive]="'is-active'" routerLink="/dashboard/main/landing">Dashboard</a></li>
                    <li><a [routerLinkActive]="'is-active'" routerLink="/dashboard/main/profile">Profile</a></li>
                </ul>
                <p class="menu-label">
                    Study
                </p>
                <ul class="menu-list">
                    <li><a [routerLinkActive]="'is-active'" routerLink="/dashboard/main/unit">Unit Tests</a></li>
                    <li><a [routerLinkActive]="'is-active'" routerLink="/dashboard/main/mock">Mock Tests</a></li>
                </ul>
                <p class="menu-label">
                    Orders
                </p>
                <ul class="menu-list">
                    <li><a [routerLinkActive]="'is-active'" routerLink="/dashboard/main/orders">Orders</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>