<section class="hero is-danger is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 animation-left">About Us</h1>
            <h2 class="subtitle animation-right">We make dreams come true.</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <p class="has-text-justified">
                    <strong><span class="red-text">Xtreme</span></strong> Success, a part of WebEdutech Private limited
                    is a company dedicated towards quality. Our first priority is to prodvide online resources for
                    students in regional languages so that the students from regional language medium does not feel left
                    out in an almost all English online learning environment.
                </p>
                <hr>
                <p class="has-text-justified">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error asperiores deleniti iste quasi cum,
                    temporibus dolore ut accusamus velit voluptatum, aliquam, illo id repellat odio dolorem dignissimos
                    fuga molestiae exercitationem. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima
                    optio dolores corporis aliquam, saepe illo ipsam et voluptas sit unde nihil ipsa! Assumenda minima
                    vitae architecto ab molestias eligendi perspiciatis?
                </p>
            </div>
        </div>
    </div>
</section>