<section class="hero is-danger is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 animation-left">About Us</h1>
            <h2 class="subtitle animation-right">We make dreams come true.</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-fifth">
                <p class="has-text-justified">
                    <strong><span class="red-text">Xtreme</span></strong> Success, a part of WebEdutech Private limited
                    is a company dedicated towards quality. Our first priority is to prodvide online resources for
                    students in regional languages so that the students from regional language medium does not feel left
                    out in an almost all English online learning environment.
                </p>
                <hr>
                <div class="columns">
                    <div class="column is-three-quarters">
                        <h2 class="title is-2">Contact Us</h2>
                        <p><b><span class="red-text">Xtreme </span> Success</b> is a subsidiary of WebEdutech Private
                            Limited</p><br><br>
                        <p><b class="red-text">Phone:</b> +91-9876543210</p>
                        <p>
                            <b class="red-text">Address:</b> #6, P-38, Nivedita Park, Kolkata, West Bengal - 700096
                        </p>
                        <p><b class="red-text">Email:</b> webedutech@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>