<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" routerLink="/">
                <span class="has-text-danger"><b>Xtreme</b></span>&nbsp;Success
            </a>

            <a (click)="expandMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" [ngClass]="expandedMenu ? 'is-active' : ''">
            <div class="navbar-start">
                <a [routerLinkActive]="['is-active']" class="navbar-item" routerLink="/home/index">
                    Home
                </a>
                <a [routerLinkActive]="['is-active']" class="navbar-item" routerLink="/home/about">
                    About
                </a>
                <a [routerLinkActive]="['is-active']" class="navbar-item" routerLink="/home/courses">
                    Courses
                </a>
                <a *ngIf="isAuthenticated" [routerLinkActive]="['is-active']" class="navbar-item"
                    routerLink="/dashboard">
                    Dashboard
                </a>
            </div>

            <div class="navbar-end">
                <div *ngIf="!isAuthenticated" class="navbar-item">
                    <div class="buttons">
                        <a routerLink="/auth/forms/register" class="button is-danger">
                            <strong>Sign up</strong>
                        </a>
                        <a routerLink="/auth/forms/login" class="button is-danger is-outlined">
                            Log in
                        </a>
                    </div>
                </div>
                <div *ngIf="isAuthenticated" class="navbar-item">
                    <div class="buttons">
                        <a (click)="logout()" class="button is-danger is-outlined">
                            <strong>Logout</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong><span class="red-text">Xtreme</span> Success</strong> |
            All content is copyrighted. &copy; WebEdutech Private Limited, 2020.
        </p>
    </div>
</footer>